#cart-container
{
   padding: 20px 0;
}

.cart-total-container
{
   padding: 0 20px 10px 20px;
   font-size: 20px;
}

.cart-total-container h3
{
   color: #686c00;
   font-size: 16px;
   text-align: right;
}

.cart-item-container
{
   padding: 0 20px;
   display: flex;
   justify-content: space-between;
}

.cart-item-container img
{
   width: 78px;
}

.cart-item-left
{
   display: flex;
}

.cart-item-quantity-container
{
   font-size: 16px;
   font-weight: 700;
   display: flex;
}

.cart-item-quantity-container p
{
   margin: 0 5px;   
}

.cart-item-right
{
   padding: 10px 0;
   color: #686c00;
   font-size: 14px;
   font-weight: 700;
}

.cart-item-description
{
   padding: 10px 10px;
   color: #636363;
}

.cart-item-description h3
{   
   font-size: 14px;
}

.sinal-quantidade
{
   color: #686c00;
   cursor: pointer;
   font-size: 14px;
   font-weight: 700;   
}
