@import url("styles.css");

#confirmation-section
{
   padding: 20px 0;
}

.vsc-cart-total-container
{
   padding: 10px 20px;
   font-size: 20px;
}

.vsc-cart-total-container h3
{
   color: var(--cor-fonte-secundaria);
   font-size: 16px;
   text-align: left;
}

.vsc-cart-item-container
{
   padding: 0 20px;
   display: flex;
   flex-direction: column;
}

.vsc-cart-item-container img
{
   width: 78px;
}

.vsc-cart-item-left
{
   display: flex;
}

.vsc-cart-item-quantity-container
{
   font-size: 16px;
   font-weight: 700;
   display: flex;
}

/* excluir depois. não precisa mais*/
.vsc-cart-item-quantity-container p
{
   margin: 0 0px;   
}

.vsc-cart-item-right
{
   padding-bottom: 10px;
   color: var(--cor-fonte-secundaria);
   font-size: 14px;
   font-weight: 700;
}

.vsc-cart-item-description
{
   padding: 10px 10px;
   color: var(--cor-fonte-primaria);
}

.vsc-cart-item-description h3
{   
   font-size: 14px;
}

.vsc-confirmation-message
{
   color: var(--cor-fonte-primaria);
   font-size: 16px;
   font-weight: 700;
   text-align: center;
}

.vsc-logged-user
{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.vsc-logged-user p
{
   font-size: 14px;
   font-weight: 400;
}

@media(min-width: 576px)
{
   .vsc-cart-item-container
   {
      flex-direction: row;
      justify-content: space-between;
   }   

   .vsc-cart-item-right
   {
      padding-top: 10px;      
   }

   .vsc-cart-total-container h3
   {
      text-align: right;
   }

   .vsc-confirmation-message
   {
      font-size: 24px;
      text-align: left;
   }
}
