@import url("styles.css");

#product-form-section
{
   padding: 20px 0;
}

.vsc-logged-user
{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.vsc-product-form-buttons
{
   display: grid;
   grid-gap: 20px;
   width: 100%;
   grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.vsc-product-form-container
{
   width: 100%;
   max-width: 500px;
   margin: 0 auto;
}

@media (min-width: 576px)
{
   #product-form-section
   {
      padding: 40px 0;
   }
}


