@import url("styles.css");

#product-listing-section
{
   padding: 20px 0;
}

.vsc-product-listing-btn
{
   cursor: pointer;
   height: 20px;
   margin: 0 5px;
   width: 20px;
}

.vsc-product-listing-image
{
   height: 69px;
   width: 69px;
   display: block;
}

.vsc-icone-camera img
{
   height: 24px;
   margin-left: 24px;
   width: 24px;     
}






