@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root
{
   --cor-fundo-primaria: #fffaf0;
   --cor-fundo-secundaria: #8e9024;
   --cor-fundo-terciaria: #636363;

   --cor-fundo-card: whitesmoke;
   --cor-borda-card: #686c00;

   --cor-fundo-botao-colorido: #8e9024;
   --cor-fundo-botao-branco: white;

   --cor-fonte-primaria: #636363;
   --cor-fonte-secundaria: #686c00;
   --cor-fonte-terciaria: white;
}

*
{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: "Open Sans", sans-serif;
}

a, a:hover
{
   text-decoration: none;
   color: unset;
}

html, body
{
   background-color: var(--cor-fundo-primaria);   
}

/* GENÉRICOS -------------------------------- */
.vsc-container
{
   width: 100%;
   max-width: 960px;
   margin: 0 auto;   
}

.vsc-mb20
{
   margin-bottom: 20px;
}
/* GENÉRICOS - FIM -------------------------- */

/* HEADER ----------------------------------- */
header
{
   background-color: var(--cor-fundo-secundaria);
   height: 70px;
   display: flex;
   align-items: center;
}

nav
{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav h1
{
   font-size: 24px;   
}

nav a
{
   font-size: 16px;
   font-weight: 700;
}
/* HEADER - FIM ----------------------------- */

/* CARD ------------------------------------- */
.vsc-card
{
   border: 1px solid var(--cor-borda-card);
   border-radius: 4px;
   background-color: var(--cor-fundo-card);
}

.vsc-line-bottom
{
   border-bottom: 1px solid var(--cor-borda-card);
}
/* CARD - FIM ------------------------------- */

/* BOTÕES ----------------------------------- */
.vsc-btn
{
   border-radius: 4px;
   height: 42px;
   font-size: 16px;
   font-weight: 700;
   display: flex;
   justify-content: center;
   align-items: center;   
}

.vsc-btn-color
{
   background-color: var(--cor-fundo-botao-colorido);
   color: var(--cor-fonte-terciaria);   
}

.vsc-btn-white
{
   background-color: var( --cor-fundo-botao-branco);
   color: var(--vsc-color-font-secondary);
   border: 1px solid var(--cor-borda-card);
}

.vsc-btn-page-container
{
   width: 220px;
   display: grid;
   grid-gap: 20px;
}
/* BOTÕES - FIM ----------------------------- */
