@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*
{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: "Open Sans", sans-serif;
}

a, a:hover
{
   text-decoration: none;
   color: unset;
}

html, body
{
   background-color: #fffaf0;   
}

header
{
   background-color: #8e9024;
   height: 70px;
   display: flex;
   align-items: center;
}

nav
{
   /*color: #636363;*/
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.container
{
   width: 100%;
   max-width: 960px;
   margin: 0 auto;   
}

.card
{
   border: 1px solid #686c00;
   border-radius: 4px;
   background-color: whitesmoke;
}

.line-bottom
{
   border-bottom: 1px solid #686c00;
}

.btn
{
   border-radius: 4px;
   height: 42px;
   font-size: 16px;
   font-weight: 700;
   display: flex;
   justify-content: center;
   align-items: center;   
}

.btn-blue
{
   background-color: #686c00;
   color: white;   
}

.btn-white
{
   background-color: white;
   color: #686c00;
   border: 1px solid #8e9024;
}

.btn-page-container
{
   width: 220px;
   display: grid;
   grid-gap: 20px;
}

.mb20
{
   margin-bottom: 20px;
}